IEX_ROOT=https://cloud.iexapis.com/
IEX_TOKEN=IEX_TOKEN

NEO4J_USER=neo4j
NEO4J_PASS=pass123456
NEO4J_HOST=neodb

POSTGRES_USER=pg
POSTGRES_PASSWORD=pass123456
POSTGRES_DB=stocks
POSTGRES_HOST=pgdb
